<html>
    <head>
        <title>turkcerapzone.com</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Türkçe Rap'te Gündem</a></h1>
            <p>Türkçe sözlü rapmüziğin kalbinin attığı yer..</p>
        </div>

        {% for post in posts %}
        <div>
            
            <h2><a href="">{{post.title}}</a></h2>
            
            <p>{{post.text|linebreaksbr}}</p>
            
                
            
        </div>
        {% endfor %}
    </body>
</html>

