<html>
    <head>
        <title>turkcerapzone.com</title>
    </head>
    <body>
        <div>
            <h1><a href="/">turkcerapzone.com'dan 2020 özeti</a></h1>
        </div>

        <div>
            <p>published: 28.12.2020, 16:40</p>
            <h2><a href="">Türkçe Rap'in kalbinin attığı yer!</a></h2>
            <p>Genç yetenekler 2020'de göz doldurdu..</p>
            <p>Yekda yeni single haberini verdi! "Yeni yılı bekleyin sadece.."</p>
        </div>

        <div>
            <p>published: 28.12.2020, 16:41</p>
            <h2><a href="">Game Over E.p sonrası Joker'e tepkiler</a></h2>
            <p>Jokerden ep sonrası açıklama: "Herkes hakettiğini görecek bu piyasada!"</p>
        </div>
    </body>
</html>

